{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Book Shop</title>
</head>
<body>
<nav class="navbar navbar-light jumbotron m-0 p-4">
    <div class="container ">
        <span class="navbar-brand mb-0 h1"> <strong> <i class="fas fa-book"></i> Book Shop</strong> </span>
    </div>
</nav>

<div class="container mt-5">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'beats_headphones.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-success">Book</button>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>